SUPABASE_URL=https://zhkckursnlxryccqfzgd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_PROJECT_REF=zhkckursnlxryccqfzgd
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
DEFAULT_COUNTRY_CODE=CZ
DEFAULT_TIMEZONE=Europe/Prague
NEXT_PUBLIC_SUPABASE_URL=https://zhkckursnlxryccqfzgd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__nLEmLWihXbzC0qm7OdGlw_ARVL8sAc
